<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lightweight-charts@3.4.0/dist/lightweight-charts.standalone.production.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script> <!-- Corrected path -->
</head>
<body>
    <div class="m-4 p-2 shadow-md bg-green-200 bg-opacity-70 rounded-md">
        <h1 class="text-4xl font-bold text-center text-black">Stock Tracker</h1>
        <h2 class="text-2xl font-bold text-black mt-8">Candlestick Chart</h2>
        <div id="candlestick-chart" class="mt-4" style="position: relative; height: 400px; width: 100%;"></div>
        <p id="price" class="text-xl text-center text-black mt-4"></p>
        <h2 class="text-2xl font-bold text-black mt-8">Buy Shares</h2>
        <form action="{{ url_for('buy') }}" method="post">
            <label class="block text-lg text-black" for="quantity">Number of Shares:</label>
            <input type="number" id="quantity" name="quantity" min="1" required class="mt-2 p-2 border border-gray-300 rounded-md w-full">
            <button type="submit" class="mt-4 bg-yellow-500 font-bold text-lg py-2 px-4 rounded hover:bg-green-600">Buy</button>
        </form>

        <h2 class="text-2xl font-bold text-black mt-8">Sell Shares</h2>
        <form action="{{ url_for('sell') }}" method="post">
            <label class="block text-lg text-black" for="quantity">Number of Shares:</label>
            <input type="number" id="quantity" name="quantity" min="1" required class="mt-2 p-2 border border-gray-300 rounded-md w-full">
            <button type="submit" class="mt-4 bg-yellow-500 font-bold text-lg py-2 px-4 rounded hover:bg-green-600">Sell</button>
        </form>

        <h2 class="text-2xl font-bold text-black mt-8">Transactions</h2>
        <ul id="transactions-list" class="mt-4 text-black">
            <!-- This section will be populated with transactions only when data is available -->
        </ul>
    </div>
</body>
</html>
